<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net481" />
  <package id="System.Security.Permissions" version="10.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="Telerik.Licensing" version="1.6.31" targetFramework="net481" />
  <package id="Telerik.UI.for.AspNet.Ajax.Net462" version="2025.4.1111" targetFramework="net481" />
</packages>