<system.diagnostics>
    <trace autoflush="true">
        <listeners>
            <add name="file" />
        </listeners>
    </trace>
    <sharedListeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime, ThreadId" initializeData="obj\Trace.log" />
    </sharedListeners>
    <sources>
        <source name="FolioLibrary" switchValue="All">
        <!--<source name="FolioLibrary" switchValue="Information">-->
            <listeners>
                <add name="file" />
            </listeners>
        </source>
        <source name="FolioWebApplication" switchValue="All">
            <!--<source name="FolioWebApplication" switchValue="Information">-->
            <listeners>
                <add name="file" />
            </listeners>
        </source>
    </sources>
</system.diagnostics>
