<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="AppSettings.config">
        <add key="Telerik.Web.UI.RenderMode" value="lightweight"/>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
    <connectionStrings configSource="ConnectionStrings.config"/>
    <system.diagnostics configSource="SystemDiagnostics.config"/>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.8.1"/>
        <httpRuntime targetFramework="4.8"/>
        <machineKey decryptionKey="90905E011CE8CB16E29F1A7C8C1E0E4CC9F58E38D0CA6936" validationKey="D1472639FC5C9790BA6706AEF2AA80E8AE2F18D512E1A8B44E9D52473C4D15745DEF75A292AF381966E0BCD6A2DB36A16D0BBCC7848B2ADE13C9F0AFEEB21361"/>
        <sessionState timeout="30"/>
        <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
        <authentication mode="Windows"/>
        <roleManager enabled="true" defaultProvider="roleProvider">
            <providers>
                <add name="roleProvider" type="FolioWebApplication.RoleProvider, FolioWebApplication"/>
            </providers>
        </roleManager>
        <httpModules>
            <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
        </httpModules>


        
        
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages><httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/></httpHandlers></system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        
        
    <validation validateIntegratedModeConfiguration="false"/><handlers>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/><add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers></system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Telerik.Licensing.Runtime" publicKeyToken="98bb5b04e55c09ef" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.6.16.0" newVersion="1.6.16.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </compilers>
    </system.codedom>
</configuration>
