<system.diagnostics>
  <trace autoflush="true">
    <listeners>
      <add name="consoleTraceListener"/>
      <add name="textWriterTraceListener"/>
    </listeners>
  </trace>
  <sharedListeners>
    <add name="consoleTraceListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime,ThreadId"/>
    <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime,ThreadId" initializeData="Trace.log"/>
  </sharedListeners>
  <sources>
    <source name="FolioWebApplicationTest" switchValue="Verbose">
      <listeners>
        <add name="consoleTraceListener"/>
        <add name="textWriterTraceListener"/>
      </listeners>
    </source>
    <source name="FolioLibrary" switchValue="Information">
      <listeners>
        <add name="consoleTraceListener"/>
        <add name="textWriterTraceListener"/>
      </listeners>
    </source>
  </sources>
</system.diagnostics>
